.navbar {

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
  }

  img {
    height: 50px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

}
