.link-home {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #F23D2E;
  padding: 4px 8px;
  border-radius: 3px;
  border: 1px solid #F23D2E;
}

.pokedex {
  height: 100vh;
  width: 100%;
  background-image: url("../../assets/images/background3.jpg");
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;

  .search {
    display: block;
    margin: 0 auto;
    width: 80%;

    input {
      font-size: 1.1rem;
      text-align: center;
      width: 100%;
      padding: 9px 0;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      outline: none;
      background-color: rgba(255, 255, 255, 0.8);
      transition: all .3s;

      &:focus {
        border: 1px solid #F23D2E;
      }
    }
  }

  .results {
    margin-bottom: 30px;

    .all-results {

      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;
        padding: 10px;
      }

      li {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid white;
        border-radius: 3px;
        width: 100%;
        text-align: center;
        padding-bottom: 8px;

        a {
          font-weight: bold;
          font-size: .9rem;
          text-transform: capitalize;
        }
      }

    }
    .switch {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding: 0 50px;

      p {
        color: #F23D2E;
        padding: 4px 8px;
        border-radius: 3px;
        border: 1px solid #F23D2E;
        cursor: pointer;
      }
    }

    .search-results {
      display: flex;
      flex-direction: column;
      align-items: center;

      .image {
        background-color: rgba(255, 255, 255, 0.7);
        border: 1px solid white;
        border-radius: 5px;

        img {
          width: 200px;
        }
      }

      .details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: self-start;
        grid-gap: 20px;
        margin-top: 50px;

        h2 {
          color: #F23D2E;
          text-align: center;
          margin-bottom: 20px;
        }

        .types,
        .abilities {
          border: 1px solid white;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.8);

          ul {
            padding: .5rem 1rem;
          }

          li {
            margin: .4rem;
            list-style: disc;
          }

          li:first-letter {
            text-transform: capitalize;
          }
        }
      }

    }
  }

}
